.App {
  text-align: center;
  /* Added margins */
  margin-top:20px;
  margin-bottom: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* SEARCH */
.App input[type=text] {
  width: 90%;
  font-size: 20px;
  font-weight: bold;
}

.App .nav{
  background-color: #21ce99;
}

.footer-copyright .container{
  text-align: center;
}

.col h5{
  margin:0px;
}

.col ul {
  margin-top: 0px;
}
/*  */
strong{
  font-weight: 800;
}

.companyInfo td:first-child{
  width: 150px;
    display: flex;
    justify-content: flex-start;
}

.card .card-content{
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

