
.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 96%;
    height: 85%;
    margin: 0px auto;
    margin-top: 2em;
}

.searchSideNav {
    width: 22%;
    min-height: 500px;
}

.searchResults {
    width: 78%;
}

.stock-search-bar {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.search-stockbar-form input {
    width: 100%;
}

.search-stockbar-form {
    height: 30%;

}

.news {
   display: flex; 
   width:50%; 
   float: right;
}

.companyInfo {
    display: flex;
    width:50%;
    float: left;
}