.companyinfo {
  background-color: #fff;
  padding: 30px;
} 

.title {
  text-align: center;
  margin-bottom: 20px;
}

.sub-title {
  text-align: center;
}

.infoheading {
  font-weight: bolder;
  font-size: 16px;
  text-align: center;
}

.info-content {
  margin-top: 30px;
}

.infobody {
  font-size: 16px;
}

.infobox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBtn {
  margin-bottom: 20px;
}

img {
  margin-top: 20px;
}

img.responsive-img {
  height: 210px;
  width: 230px;
  text-align: center;
}