.deniedContainer{
    min-height: 85vh;
    display: flex;
    justify-content: space-around;
}

.deniedCard{
    margin-top: 10vh;
    text-align: center;
    height: 20vh;
    width: 30vw;
    display: flex;
    align-items: center;
}

.deniedHeader{
    margin-bottom: 5vh;
}