/* span ul .dropdown-content{
  position: absolute;
  top: -64px;
} */
nav{
  background-color: #fff; 
}
.nav-wrapper {
  background-color: #fff;
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1024px;
}

.link-color{
  color:#2f4f4f !important;
}

nav .brand-logo{
  color: darkslategray
}

.material-icons{
  color: darkslategray;
}

.logInButton:hover{
  background-color: #2f4f4f !important;
  color: #fff !important;
}
