/* span ul .dropdown-content{
  position: absolute;
  top: -64px;
} */
nav{
  background-color: #fff; 
}
.nav-wrapper {
  background-color: #fff;
  padding: 0 30px;
  margin: 0 auto;
  
  position: fixed;
  z-index: 99999999;
}

.flexAdjust{
  display: flex;
  justify-content: flex-end;
  /* justify-content: space-around; */
}
.selfCenter{
  justify-self: center;
}

.selfEnd{
  justify-self: flex-end;
}
.link-color{
  color:#336780 !important;
  font-weight: bold;
  font-size: 18px;
}

.navLogo{
  height: 50px;
  margin-top: 10px;
}

.material-icons{
  color: #336780;
}

.logInButton:hover{
  background-color: #336780 !important;
  color: #fff !important;
}

.navLogo{
  height: 30px;
  margin-top: 16px;
}

h3{
  text-align: center;
}

@media screen and (max-width: 600px){
  .navLogo{
    height: 30px;
    margin-top: 13px;
  }
  nav .button-collapse{
    margin:0px;
  }

  h3{
    font-size: 28px;
    margin: 16px;
    text-align: center;
  }

}

